<?xml version="1.0" ?>
<robot name="turtlebot3_waffle" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sim_env)/urdf/turtlebot3_waffle/common_properties.xacro"/>
  <xacro:include filename="$(find sim_env)/urdf/turtlebot3_waffle/turtlebot3_waffle.gazebo.xacro"/>
  <xacro:include filename="$(find sim_env)/urdf/turtlebot3_waffle/turtlebot3_waffle.urdf.xacro"/>

</robot>
