<?xml version='1.0' encoding='utf-8'?>
<launch>
	<arg name="world_parameter" value="empty" />
	<include file="$(find sim_env)/launch/config.launch">
		<arg name="world" value="$(arg world_parameter)" />
		<arg name="map" value="warehouse" />
		<arg name="robot_number" value="2" />
		<arg name="rviz_file" value="view_multi.rviz" />
	</include>
</launch>
